---
layout: front
title: Life Refined - Blog
---

{% capture navigation_slim %}{% include nav.slim %}{% endcapture %}
{{ navigation_slim | slimify }}

<header class="blog">
  <div class="header-content">
    <div class="header-content-inner text-center">
      <h1>Blog</h2>
      <hr />
    </div>
  </div>
</header>

{% for post in site.posts %}
<section class="copy">
  <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
  <em>{{ post.date | date: '%B %d, %Y' }}</em>
  <p>{{ post.excerpt }} <a href="{{ post.url }}">continue...</a></p>
</section>
{% endfor %}
