section#about.bg-primary
  .container
    .row
      .col-md-4.text-center
        h2.section-heading Our Mission
        hr.light/
        p.text-faded We are a community focused wellness center dedicated to providing resources facilitating the alignment of one’s values and beliefs with the universal laws of healing.
      .col-md-4.text-center
        h2.section-heading Why We Are Different
        hr.light/
        p.text-faded
          | At Life Refined, we help create solutions for your most pressing health challenges while helping you develop plans to prevent illness from impacting your life.
      .col-md-4.text-center
        h2.section-heading Our Ideal Patient
        hr.light/
        p.text-faded For you to succeed with our chiropractic care, we must establish a synergistic relationship where we achieve more together than we could alone.
