<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Life Refined!</h2>
                <hr class="light">
                <p class="text-faded">Our facility is extremely unique because not only do we help create solutions for your most pressing health challenges, but we also develop plans to prevent illness from impacting your life. Together, we can start on the mission of being fit, eating right and thinking well.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
