<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="section-heading">Our Mission</h2>
        <hr class="light">
        <p class="text-faded">We are a community focused wellness center dedicated to providing resources facilitating the alignment of one’s values and beliefs with the universal laws of healing.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="section-heading">Why We Are Different</h2>
        <hr class="light">
        <p class="text-faded">At Life Refined, we help create solutions for your most pressing health challenges while helping you develop plans to prevent illness from impacting your life.

        </p>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="section-heading">Our Ideal Patient</h2>
        <hr class="light">
        <p class="text-faded">For you to succeed with our chiropractic care, we must establish a synergistic relationship where we achieve more together than we could alone.</p>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <a href="#" class="btn btn-default btn-xl">Get Started!</a>
    </div>
  </div>
</section>
