<aside class="footer bg-dark text-center">
  {% capture mailing_list_slim %}{% include mailing_list.slim %}{% endcapture %}
  {{ mailing_list_slim | slimify }}
  <a href="https://www.facebook.com/liferefinedchiro">
    <span class="sr-only">Life Refined Chiropractic Facebook Page</span>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
    </span>
  </a>
  <a href="https://www.instagram.com/life.refined">
    <span class="sr-only">Life Refined Chiropractic Instagram Page</span>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-instagram fa-inverse fa-stack-1x"></i>
    </span>
  </a>
  <a href="mailto:{{ site.email }}?subject=Let's Connect">
    <span class="sr-only">E-mail Us!</span>
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope-o fa-inverse fa-stack-1x"></i>
    </span>
  </a>
  <br>
  <small>Life Refined Chiropractic &bull; 14297 Bergen Boulevard Suite 100 &bull; Noblesville, IN 46060 &bull; 317-674-8857</small>
  <br>
  <small>
    Serving
    <a href="/hamiltontowncenter/">Hamilton Town Center</a>
    &bull;
    <a href="#">Noblesville</a>
    &bull;
    <a href="#">Fishers</a>
    &bull;
    <a href="#">McCordsville</a>
    &bull;
    <a href="#">Fortville</a>
    &bull;
    <a href="#">Carmel</a>
    &bull;
    <a href="#">Woodbury</a>
    &bull;
    <a href="#">Saxony</a>
    &bull;
    <a href="#">Geist</a>
  </small>
</aside>
