@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
  color: $color;
  background-color: $background;
  border-color: $border;
  @include transition-all;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 7%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin sans-serif-font()
{
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font()
{
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

@mixin header($name, $size, $image) {
  &.#{$name} {
    background-image: url('../img/#{$image}');

    $header-height: map-get($header-sizes, $size);
    $half-height: $header-height / 2;

    @media (min-width: $screen-sm) {
      min-height: percentage($header-height);
      .header-content {
        position: absolute;
        top: percentage($half-height);
        -webkit-transform: translateY(percentage(-$half-height));
        -ms-transform: translateY(percentage(-$half-height));
        transform: translateY(percentage(-$half-height));
        padding: 0 50px;
        .header-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
          p {
            font-size: 18px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}
