<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% capture navigation_slim %}{% include nav.slim %}{% endcapture %}
{% capture wrote_or_recorded %}{% if page.youtube %}recorded{% else %}wrote{% endif %}{% endcapture %}
{{ navigation_slim | slimify }}


<body id="page-top">
  <header class="post">
    <div class="header-content">
      <div class="header-content-inner text-center">
        <h1>{{ page.title }}</h1>
        <hr>
      </div>
    </div>
  </header>

  <section class="copy blog">
    {% for a in page.author %}
    {% assign author = site.data.authors[a] %}
    <img class="profile" alt="{{ author.name }}" src="{{ author.photo }}">
    <a rel="author" href="{{ author.url }}" target="_blank">{{ author.name }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
    {{ wrote_or_recorded }} this on {{ page.date | date: '%B %d, %Y' }} &bull; <a href="/blog">Blog</a>
    {% if page.post_image %}
    <img alt="{{ page.title }}" src="{{ page.post_image }}" class="post-theme">
    {% endif %}
    <div class="text-justify">
      {{ content }}
    </div>
  </section>

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>
