<!DOCTYPE html>
<html lang="en" data-ng-app="liferefined">

{% include head.html %}

{% capture navigation_slim %}{% include nav.slim %}{% endcapture %}
{% capture wrote_or_recorded %}{% if page.youtube %}recorded{% else %}wrote{% endif %}{% endcapture %}
{{ navigation_slim | slimify }}


<body id="page-top" data-ng-controller="MailChimp as self">
  <header class="recipe">
    <div class="header-content">
      <div class="header-content-inner text-center">
        <h1>{{ page.title }}</h1>
        <hr>
      </div>
    </div>
  </header>

  <section class="row copy blog">
    {% if page.recipe_image %}
    <img alt="{{ page.title }}" src="/assets/recipes/images/{{ page.recipe_image }}" class="post-theme">
    {% endif %}
    <div class="text-justify">
      <h2>Ingredients</h2>
      <ul>
        {% for ingredient in page.ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
      <h2>Instructions</h2>
      <ul>
        {% for instruction in page.instructions %}
        <li>{{ instruction }}</li>
        {% endfor %}
      </ul>
      {{ content }}
    </div>
  </section>
  {% include inline_subscribe.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>

